Package: rkflashkit
Version: 0.1.3
Architecture: all
Maintainer: Zhong Wang <linuxerwang@gmail.com>
Section: System
Priority: optional
Depend: python-gtk2
Description: Flash kit for devices based on rk3066/rk3188.
